
<router-outlet></router-outlet>


<router-outlet></router-outlet>


<html>
  <head>
      <title>Heroes</title>
      <link rel="stylesheet" type="text/css" href="app.component.css"/>


  <!-- Author| Kali Ferguosn-->
</head>
<body>
  <div id="container">
    <div id = "header">
      <h1> Heroes Dashboard</h1>

    </div>
    <div id = "nav">
      <h3>Navigation</h3>
      <ul>
        <li><a class= "selected" href="">Dashboard</a></li>
        <li><a href="">Create a Hero</a></li>
        <li><a href ="">Deleter a Hero</a></li>
        <li><a href ="">Update a Hero</a></li>
        <li> <a href ="">Delete a Hero</a></li>
        
      </ul>

    </div>
  </div>
  
</body>

</html>
